*{ 
    margin: -20;
    pad: 0;
}

.cabecalho { 
    background-color: #7A413F;
    color:#00ff2a;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    text-align: center;
    border-radius: 100px 100px;
}

.cabecalho-imagem{
    width: 16%; 
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

input[type="search"] {
    border: 1px solid #ccc;
    font-size: 20px;
    color: #333;
    border-radius: 50px 50px;

  }

  .post {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  .post img {
    max-width: 100%;
  }
  .post h1 {
    font-size: 24px;
    margin-top: 0;
  }
  .post p {
    font-size: 16px;
    line-height: 1.5;
  }

  body {
    background-image: linear-gradient(to bottom, #ff0000, #ffff00);
    background-color: #ff0000;
  }
  